extends layout

block content
	h1 USER LOGIN
	form(name="login", action="/authenticateUser", method="post")
		div
			label(for="user") Username
			br
			input(type="text", name="uname")
			br
		div
			label(for="pwd") Password
			br
			input(type="password", name="pwd")
			br
		div
			input(type="submit", value="Login")
      
	