extends layout

block content
	h1 USER REGISTRATION
	form(name="login", action="/registerNewUser" ,method="post")
		div
			label(for="fname")	First Name
			br
			input(type="text", name="fname")
			br
		div
			label(for="lname")	Last Name
			br
			input(type="text", name="lname")
			br
		div
			label(for="email")	Email
			br
			input(type="text", name="email")
			br
		div
			label(for="uname")	UserName
			br
			input(type="text", name="uname")
			br
		div
			label(for="pwd")	Password
			br
			input(type="password", name="pwd")
			br
		div
			input(type="submit", value="REGISTER")
